body,html{
  /* padding: 0;
  margin: 0; */
  text-align: left;
}
.row-header{
  background-color: blueviolet;
  color: floralwhite;
  min-height: 300px;
  margin: 0 auto;
  padding: 60px 0 60px 0;
}
